@model Web_app_project_template_v11.Controllers.InvoiceBase

@{
    ViewBag.Title = "Invoice details";

    // Prepare some strings, to be used below
    var invoiceDate = Model.InvoiceDate.ToLongDateString();
}

<h2>Details</h2>

<div>
    <h4>InvoiceBase</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Invoice Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>

        <dd>
            @invoiceDate
            @*@Html.DisplayFor(model => model.InvoiceDate)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingCity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingCity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingCountry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingCountry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BillingPostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BillingPostalCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>
    </dl>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InvoiceId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
